/*
 .right{
    width: 40%;
    height: 100%;
    background-color: #43D1AF;
    display: block;
    position: relative;
    padding-right: 0; 
display: inline-block;
margin: 10px;

}
*/

 /*.izquierda{
    width: 40%;
    height: 100%;
    background-color: #F7F7F7;
  display:  inline-block;
    margin: 0;


}*/

.color1 {
    background-color: yellow;
}

.color2 {
    background-color: pink;
}
.color3 {
    background-color: salmon;
}
.color4 {
    background-color: red;
}

.avatar {
    border-radius: 50%;
}

div.form-style-7{
    width: 50%;

}

.form-style-7{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.form-style-7 h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
