<div class="form-style-6">
 <h1>Blog-Anónimo</h1>


<form action="/profile" method="post">
  <% if @falla%>
      <p> Usuario no encontrado</p>
    <%end%>
  
  <input type="email" name="email" placeholder="Email Address" />
  <input type="password" name="password" placeholder="Password" />
  <br>
  <input type="submit" value="Log In" />

</form>
 

  <h2> 
  <a href="/signup"> <button>Sign Up</button></a>
</h2>
</div>
