<div class="form-style-6">
 <h1>BIENVENIDO</h1>


<form>
  
  <input type="email" name="field2" placeholder="Email Address" />
  <input type="password" name="field3" placeholder="Password" />
  <br>
  <input type="submit" value="sign in" />

</form>
  <h2> <p>No tienes una cuenta una cuenta con nosotros</p>
  <a href="/signup"> <button>Crea una cuenta aquí</button></a>
</h2>
</div>
