
  <div class="derecha right"> 
  <div class="col-md-6">.col-md-6</div>
    <h1>NOMBRE DEL USUARIO</h1>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/e6/ec/8c/e6ec8cb3da432fa2a83928f3e95a883f.jpg" />
 </div>

 <div class="izquierda left"> 
  <div class="col-md-6">.col-md-6</div>
    <h1>NOMBRE DEL USUARIO</h1>
    <img src="https://s-media-cache-ak0.pinimg.com/736x/e6/ec/8c/e6ec8cb3da432fa2a83928f3e95a883f.jpg" />
 </div>
