<div class="form-style-12">
<h1>
posts with this tag: 
<br>
<%= @tag.name %>
</h1>
<% @posts.each do |post| %>


  
  <a href='/posts/<%="#{post.id}"%>'>
  <p> * <%= post.title %></p>
  </a>
 
<%end%>
 <a href='/users/<%=current_user.id%>'>
    <!-- falta hacer un boton de regreso al
    perfil
    -->
    <h1>go back to profile</h1>
  </a>


