<div class="form-style-7">
 <h1>SIGN UP</h1>


<form action="/signup" method="post">
  <input type="text" name="name" placeholder="Name and Last name" />
  <input type="email" name="email" placeholder="Email Address" />
  <input type="password" name="password" placeholder="Password" />
  <!-- <input type="age" name="field4" placeholder="Age"/> -->
  <br>
  <input type="submit" value="CREATE ACCOUNT" />

</form>
 
</div>