<div class="form-style-7">
 <h1>SIGN UP</h1>


<form>
  <input type="text" name="field1" placeholder="Name and Last name" />
  <input type="email" name="field2" placeholder="Email Address" />
  <input type="password" name="field3" placeholder="Password" />
  <input type="age" name="field4" placeholder="Age"/>
  <br>
  <input type="submit" value="CREATE ACCOUNT" />

</form>
 
</div>